@model Neighbors.Models.Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="table-responsive productsTable">
	<table class="table table-striped table-hover " id="productsOffers">
		<thead>
			<tr>
				<td colspan="6" class="text-center">
					<div class="row m-2">
						<span class="glyphicon glyphicon-heart"></span>
						<strong> Specially for you. </strong>
					</div>
				</td>
			</tr>
			<tr class="info">
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Category)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.OwnerId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BorrowsDays)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="offersBody">
			@if (!SignInManager.IsSignedIn(User) || (await UserManager.FindByEmailAsync(User.Identity.Name)) == null)
			{
			<tr>
				<td colspan="6" class="text-center">
					<div class="row m-5 text-primary">
						<span class="glyphicon glyphicon-sunglasses"></span>
						<strong> Only logged in users get cool offer lists. </strong>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<script>
	$(document).ready( function() {
		
	});
</script>