@{
	ViewData["Title"] = "Our Story";
}

<div class="jumbotron">
	<h2>@ViewData["Title"]</h2>
	<p>
		@ViewData["Message1"]
		<br />
		@ViewData["Message2"]
		<br />
		@ViewData["Message3"]
		<br />
		@ViewData["Message4"]

	</p>
	<p class="text-warning">Warning: @ViewData["Message5"]</p>
</div>

