@model ICollection<Neighbors.Models.Borrow>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product owner Name
            </th>
            <th>
                Fine
            </th>
            <th>
                Start date
            </th>
            <th>
                End date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Owner.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
        }
    </tbody>
</table>



